.intro {
  padding-inline: clamp(16px, 3vw, 148px);
  font-family: "Inter", Arial, sans-serif;
  color: #ffffff;
}

.intro__title {
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  max-width: 830px;
  margin: 92px 0 40px 100px;
}

.intro__citation {
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  max-width: 738px;
  margin: 0 0 0 100px;
}

.intro__citation-author {
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  width: 100%;
  max-width: 732px;
  text-align: end;
  margin: 0;
  padding: 10px 0 32px 0;
}

.intro__content {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
  max-width: 722px;
  margin: 0 0 0 100px;
  padding-bottom: clamp(38px, 8vw, 118px);
}

@media screen and (max-width: 768px) {
  .intro__title {
    font-size: 45px;
    line-height: 49px;
    max-width: 707px;
    margin: 90px 0 50px 0;
  }

  .intro__citation {
    font-size: 24px;
    line-height: 34px;
    max-width: 720px;
    margin: 0;
  }

  .intro__citation-author {
    font-size: 24px;
    line-height: 34px;
    max-width: 720px;
  }

  .intro__content {
    font-size: 16px;
    line-height: 163%;
    max-width: 720px;
    margin: 0;
  }
}

@media screen and (max-width: 320px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
    max-width: 288px;
    margin: 64px 0 40px 0;
  }

  .intro__citation {
    font-size: 24px;
    line-height: 30px;
    max-width: 288px;
    margin: 0;
  }

  .intro__citation-author {
    max-width: 288px;
    margin: 0;
  }

  .intro__content {
    max-width: 288px;
    margin: 0;
  }
}
