.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lead__title {
  font-family: "Inter", Arial, sans-serif;
  color: #ffffff;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
  width: 100%;
  max-width: 720px;
  margin: 194px 0 32px 0;
}

.lead__subtitle {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  width: 100%;
  max-width: 720px;
  margin: 0;
  color: #ffffff;
}

@media screen and (max-width: 768px) {
  .lead__title {
    margin: 90px 0 25px 0;
    font-size: 75px;
    line-height: 79px;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    margin: 50px 0 16px 0;
    font-size: 40px;
    max-width: 228px;
    line-height: 44px;
  }

  .lead__subtitle {
    max-width: 288px;
    font-size: 16px;
    line-height: 20px;
  }
}
